.special {
    @media (max-width: $breakpoint992) {
        margin-top: 75px;
    }
    @media (max-width: $breakpoint768) {
        margin-top: 0;
    }
}

.special__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 50px;
  @media (max-width: $breakpoint1200) {
    gap: 20px;
  }
  @media (max-width: $breakpoint480) {
    gap: 10px;
  }
}

.special__item {
  display: flex;
  flex-direction: column;
  flex: 0 1 346px;
  padding: 60px 40px;
  background: $colorWhite;
  border: 1px solid #efeff4;
  border-radius: 8px;
  @media (max-width: $breakpoint1200) {
    flex: 0 1 48%;
    padding: 40px;
  }
  @media (max-width: $breakpoint768) {
    flex: 0 1 100%;
    padding: 25px;
  }
  @media (max-width: $breakpoint480) {
    padding: 15px;
  }
  &:first-child {
    justify-content: center;
    // align-items: center;
    border: transparent;
    padding: 0;
    padding-right: 60px;
  }

  &:not(:first-child):hover{
    background-color: #FAFBFD;
    border: 1px solid #FAFBFD;
    transition: .3s all ease;
    .special__item-img {
        background-color: $colorWhite;
        box-shadow: 0px 6px 15px rgba(35, 36, 39, 0.05);
        transition: .3s all ease;
    }
  }
}

.special__item-img{
    width: 77px;
    height: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #FAFBFD;
    @media (max-width: $breakpoint768) {
        width: 60px;
        height: 60px;
    }
}

.special__title {
  margin-top: 40px;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  color: $colorMain;
  @media (max-width: $breakpoint992) {
    margin-top: 20px;
  }
  @media (max-width: $breakpoint768) {
    margin-top: 10px;
  }

  &:first-child {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: $colorMain;
    @media (max-width: $breakpoint992) {
        font-size: 32px;
        line-height: 120%;
    }
    @media (max-width: $breakpoint480) {
        font-size: 26px;
    }
  }
}

.special_text {
  margin-top: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: $colorSecondaryLight;
  &:first-child {
    line-height: 24px;
  }
  @media (max-width: $breakpoint480) {
    margin-top: 10px;
  }
}
